/* your code */
table{
	border-collapse:collapse;
}

td{
	width: 140px;
	text-align:center;
	padding: 8px;
	font-size: 11px
}

th{
	background-color: #2874A6;
	color: white;
	font-size: 9px;
	padding: 8px
}
.even{
	background-color:#D6DBDA;
}